.hat {
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/grup.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 1600px;
  background-color: var(--bg-hat);
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 200px;
  padding-top: 200px;
  background-position: center;
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 768px),
  screen and (min-resolution: 192dpi) and (min-width: 768px),
  screen and (min-resolution: 2dppx) and (min-width: 768px) {
  .hat {
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(/images/tab/comand/hiro-tab2x.jpg);
  }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 480px),
  screen and (min-resolution: 192dpi) and (min-width: 480px),
  screen and (min-resolution: 2dppx) and (min-width: 480px) {
  .hat {
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(/images/mob/comand/hiro-mob2x.jpg);
  }
}

.title_hat {
  color: var(--blfon-text-cl);
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 0.06em;
  margin-bottom: 30px;
  @media screen and (min-width: 480px) and (max-width: 1199.9) {
    font-size: 26px;
    line-height: 1.62;
  }
  @media screen and (min-width: 1200px) {
    font-size: 44px;
    line-height: 1.36;
  }
}

.button {
  background-color: var(--acttiv-cl);
  color: var(--blfon-text-cl);
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  cursor: pointer;
  border: none;
  min-width: 200px;
  min-height: 50px;
  padding: 10px 32px;
  text-align: center;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  transition: color var(--animation), background-color var(--animation);
  &:hover,
  &:focus {
    background-color: var(--acttiv-cl);
    color: var(--blfon-text-cl);
  }
}
