.mobile-menu {
  position: fixed;
  top: 0;
  left: 100%;
  width: 100%;
  height: 100vh;
  z-index: 9;
  padding: 48px 40px 40px;
  background-color: var(--list-cl);
  &.is-open {
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  @media screen and (min-width: 768px) {
    display: none;
  }
}

.mobile-nav_list:not(:last-child) {
  margin-bottom: 32px;
}

.mobile-nav_current {
  color: var(--acttiv-cl);
}

.mobile-nav_link {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  display: block;
  &:focus {
    color: var(--acttiv-cl);
  }
}

.mobile-gis_tel {
  color: var(--acttiv-cl);
  font-weight: 500;
  font-size: 34px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  display: block;
  margin-bottom: 32px;
}

.mobile-gis_mail {
  color: var(--articl-text-cl);
  font-weight: 500;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.02em;
  display: block;
  margin-bottom: 64px;
}

.mobile-network {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  display: flex;
}

.mobile-network_list:not(:last-child) {
  padding-right: 10px;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}
.mobile-network_list:not(:first-child) {
  padding-left: 10px;
}

.mobile-network_link {
  color: var(--acttiv-cl);
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
}

.mobile-menu_btn {
  z-index: 10;
  width: 40px;
  height: 40px;
  background-color: transparent;
  border: none;
  cursor: pointer;

  @media screen and (min-width: 768px) {
    display: none;
  }
}
.mobile-menu_btn.is-open .mobile-menu_menu {
  display: none;
}

.mobile-menu_icon {
  .mobile-menu_btn:focus & {
    fill: var(--acttiv-cl);
  }
}

.mobile-menu_close {
  display: none;
  position: fixed;

  .is-open & {
    display: block;
  }
}
