.content {
  @media screen and (min-width: 480px) {
    margin-left: auto;
    margin-right: auto;
  }
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    padding: 0px;
    margin-top: -30px;
    margin-left: -30px;
  }
}

.content_list-img {
  background: var(--blfon-text-cl);
  border: 1px solid var(--img-cl);
  margin-top: 30px;
}

.content > .content_list-img {
  @media screen and (min-width: 768px) and (max-width: 1199.9px) {
    flex-basis: calc((100% - 2 * 30px) / 2);
    margin-top: 30px;
    margin-left: 30px;
  }
  @media screen and (min-width: 1200px) {
    flex-basis: calc((100% - 3 * 30px) / 3);
    margin-top: 30px;
    margin-left: 30px;
  }
}

.content_link {
  display: block;
  transition: box-shadow var(--animation);
  &:hover,
  &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
  @media screen and (min-width: 768px) and (max-width: 1199.9px) {
    height: 100%;
  }
}

.content_img {
  position: relative;
  overflow: hidden;
}

.content_page {
  position: absolute;
  transform: translateY(100%);
  opacity: 0;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  font-size: 18px;
  line-height: 1.56;
  color: var(--blfon-text-cl);
  display: block;
  padding: 63px 24px;
  background: rgba(33, 150, 243, 0.9);
  transition: var(--animation);
  .content_link:hover &,
  .content_link:focus & {
    opacity: 1;
    transform: translateY(0);
  }
}

.content_card {
  padding: 20px 24px;
}

.content_title {
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 5px;
}

.content_asid {
  color: var(--articl-text-cl);
  font-size: 16px;
  line-height: 1.9;
}
